body {
    background-color: antiquewhite
}
label{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin:0.5rem;
}
input{
    height: 30px;
}
input, textarea{
    width: 300px;
}
textarea{
    height: 150px;
}
button{
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: brown;
    background-image: linear-gradient top l
}